**/ADCS_CourseWork
**/ADCS_Simulink_Arduino
**/Further Reading
Spacecraft dynamics and control _ an introduction ( PDFDrive ).pdf
ADCS functions/Quaternion_functions.py
ADCS functions/Quaternion_functions2.py
